# How to access SQL Databases from Python:
## Module Objectives:
* Explain how to use Python to connect to databases
* Create tables, load data, and query data using SQL
* Aanlyze and Visualize Data in Jupyter Nootbooks

## Lab Assignments:
* Connect to a databse instances in the Cloud
* Query the data using SQL
* Analyze the data using Python

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

## What's a SQL API?
* `CONNECT(db, usr, pswd)` to connect to a `db` using a username `usr` and a password `pswd`
* `SEND ("update employees set..")` sends a command to the connected database
* `EXECUTE()` executes that command
* `STATUS_CHECK()` check the status of the command or the response
* `OK` this is not a part of the code, it's the part of the process when the output/response comes out
* `DISCONNECT` to desconnect from the database

| **RBDMS** | **SQL API** |
| --- | --- |
| MySQL | MySQL C API |
| PostgreSQL | psycopg2 |
| IBM DB2 | ibm_db |
| SQL Server | dblib API |
| Database Access from Microsoft Windows OS | ODBC |
| Oracle | OCl |
| Java | JDBC |
| MongoDB | PyMongo |

## Writing a Code using DB-API:
* If you learn **DB-API** you could use them with any database

### Comcepts of the Python DB-API:
* Connection Objects
* Query/Cursor Objects

#### Connection Objects:
* Connect to a DB
* Manage your Transactions

#### Cursor Objects:
* Used to run queries
* Scroll through the result set, your results appear text-like
* Retrieve results

### What are Connection Methods?
* `.cursor()` returns a new cursor object using the connection
* `.commit()` commits any pending transactions to the database
* `.rollback()` makes the database to roll back from any pending transactions
* `.close()` to close a DB connection

### What are Cursor Methods?
* `.callproc()`
* `.execute()`
* `.executemany()`
* `.fetchone()`
* `.fetchmany()`
* `.fetchall()`
* `.nextset()`
* `.arraysize()`
* `.close()`

### Writing code using DB-API:
* The following is only an example

In [2]:
#connect to a dbmodule, the dbmodule can be any dbmodule such as ibm_db
from dbmodule import connect

#create a connection
Con = connect('dbname', 'usrnm', 'pswd')

#create a cursor object
Curs = connection.cursor()

#run a query
Curs.execute('select * from mytable')
Resu = Curs.fetchall()
print(Resu)

# Freeze all resources/ or close Curs connection
# This is step is super important to avoid unused connection taking up all the resources
Curs.close()
Con.close()

ModuleNotFoundError: No module named 'dbmodule'

In [3]:
import ibm_db
from ibm_db import connect
#create a db connection
dsn_database = ""
dsn_hostname = ""
dsn_port = ""
dsn_uid = ""
dsn_pwd = ""

dsn = (
    "DRIVER = {{IBM DB2 ODBC DRIVER}};"
    "DATABASE = {0};"
    "HOSTNAME = {1};"
    "PORT = {2};"
    "PROTOCOL = TCPIP;"
    "UID = {3};"
    "PWD = {4};"
).format(dsn_database, dsn_hostname, dsn_port, dsn_uid, dsn_pwd)

try:
    conn = ibm_db.connect(dsn, "", "")
    print("Connected!")
    
except:
    print("Unable to connect to database")

#close your connection    
ibm_db.close(conn)

Unable to connect to database

NameError: name 'conn' is not defined

In [ ]:
from ibm_db import connect

Con = connect('database', 'usrnm', 'pswd')

Curs = connection.cursor()

Curs.execute('query')

Curs.fetchall()

Curs.close()
Con.close()

In [ ]:
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"
dsn_hostname = "YourDb2Hostname"
dsn_port = "50000"
dsn_protocol = "TCPIP"

In [ ]:
#CREATE DATABASE CONNECTION:
dsn = (
    "DRIVER = {{IBM DB2 ODBC DRIVER}};"
    "DATABASE = {0};"
    "HOSTNAME = {1};"
    "PORT = {2};"
    "PROTOCOL = TCPIP;"
    "UID = {3};"
    "PWD = {4};"
).format(dsn_database, dsn_hostname, dsn_port, dsn_uid, dsn_pwd)

try:
    conn = ibm_db.connect(dsn, "", "")
    print("Connected!")
    
except:
    print("Unable to connect to database")

#close your connection    
#ibm_db.close(conn)

In [ ]:
stmt = ibm_db.exec_immediate(conn,
                            "CREATE TABLE Trucks(serial_no VARCHAR(20) PRIMARY KEY, model VARCHAR(20) NOT NULL, manufacturer VARCHAR(20) NOT NULL, engine_size VARCHAR(20) NOT NULL, truck_class VARCHAR(20) NOT NULL)")

In [4]:
import sqlite3

In [5]:
#create a connection object
conn = sqlite3.connect('INSTRUCTOR.db')

In [6]:
#create a cursor object
cursor_obj = conn.cursor()

In [7]:
cursor_obj.execute('DROP TABLE IF EXISTS INSTRCUTOR')

In [8]:
table = """
    CREATE TABLE IF NOT EXISTS instructor(
    id INTEGER PRIMARY KEY,
    fname VARCHAR,
    lname VARCHAR,
    city VARCHAR,
    ccode CHARACTER)
"""
cursor_obj.execute(table)
#cursor_obj.execute("""INSERT INTO instructor VALUES (1, 'Rav', 'Ahuja', 'Toronto', 'CA')""")
cursor_obj.execute('''INSERT INTO instructor VALUES (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')''')

In [9]:
cursor_obj.execute('SELECT * FROM instructor')
output = cursor_obj.fetchall()
for fetch in output:
    print(fetch)

(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [10]:
import pandas as pd
df = pd.read_sql_query('SELECT * FROM instructor', conn)

In [11]:
df

   id fname      lname     city ccode
0   2  Raul      Chong  Markham    CA
1   3  Hima  Vasudevan  Chicago    US

In [12]:
df.shape

(2, 5)

In [13]:
conn.close()

In [14]:
<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Working with a real world data-set using SQL and Python

Estaimted time needed: **30** minutes

## Objectives

After complting this lab you will be able to:

*   Understand the dataset for Chicago Public School level performance
*   Store the dataset in SQLite database.
*   Retrieve metadata about tables and columns and query data from mixed case columns
*   Solve example problems to practice your SQL skills including using built-in database functions

SyntaxError: invalid syntax (536200397.py, line 1)

In [15]:
## Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: [https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&download=true&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

**NOTE**:

Do not download the dataset directly from City of Chicago portal. Instead download a static copy which is a more database friendly version from this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">link</a>.

Now review some of its contents.

SyntaxError: invalid decimal literal (2449622813.py, line 3)

In [16]:
import csv, sqlite3
import pandas as pd

In [17]:
con = sqlite3.connect('RealWorldData.db')
cur = con.cursor()

In [18]:
%sql sqlite:///RealWorldData.db

UsageError: Line magic function `%sql` not found.

In [19]:
%sql sqlite:///RealWorldData.db

UsageError: Line magic function `%sql` not found.

In [20]:
df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv')
df.to_sql('CENSUS_DATA', con, if_exists = 'replace', index = False, method = 'multi')

df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv')
df.to_sql('CHICAGO_CRIME_DATA', con, if_exists = 'replace', index = False, method = 'multi')

df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv')
df.to_sql('CHICAGO_PUBLIC_SCHOOLS_DATA', con, if_exists = 'replace', index = False, method = 'multi')

OperationalError: too many SQL variables

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
x1 = np.random.randint(0, 100, 3600)
x2 = np.random.randint(0, 85, 3600)
y = np.random.randint(0, 12000, 3600)

In [23]:
f = np.polyfit(x1, y, 3)
p = np.poly1d(f)
print(p)

          3          2
0.002854 x - 0.3169 x + 7.112 x + 5924

In [24]:
from sklearn.preprocessing import PolynomialFeatures
pr = PolynomialFeatures(degree = 2, include_bias = False)
x_poly = pr.fit_transform(x1, x2)

ModuleNotFoundError: No module named 'sklearn'

In [25]:
pip install sklearn.preprocessing

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement sklearn.preprocessing (from versions: none)
ERROR: No matching distribution found for sklearn.preprocessing